.panel_text {
  .ant-collapse-header {
    padding: 5px 10px !important;

    .ant-collapse-header-text {
      font-weight: 600;
      font-size: 12px;
      color: #00000099;
    }
  }

  .ant-collapse-content-box {
    padding: 0px 10px !important;
  }

  .ant-input-number-group-addon {
    padding: 0px !important;
  }

  .ant-input-number-input {
    height: 22px !important;
  }

  .ant-radio-button-wrapper {
    padding: 0px 3px !important;

    svg {
      fill: #333;
    }

    &.ant-radio-button-wrapper-checked {
      svg {
        fill: #1677ff;
      }
    }
  }
}