.ant-slider-handle{
  &::after{
    box-shadow: 0 0 0 1px #e0e0e0 !important;
  }
  &:hover{
    &::after{
      box-shadow: 0 0 0 1px #e0e0e0 !important;
      outline:none !important;
      background: #cccccc;
    }
  }
  &:active{
    &::after{
      box-shadow: 0 0 0 1px #e0e0e0 !important;
      outline:none !important;
      background: #cccccc;
    }
  }
  &:focus{
    &::after{
      box-shadow: 0 0 0 1px #e0e0e0 !important;
      outline:none !important;
      background: #cccccc;
    }
  }
}