.panel_appearance{
  .ant-collapse-header {
    padding: 5px 10px !important;

    .ant-collapse-header-text {
      font-weight: 600;
      font-size: 12px;
      color: #00000099;
    }
  }

  .ant-collapse-content-box {
    padding: 0px 10px !important;
  }
  .ant-radio-button-wrapper{
    padding: 1px 6px !important;
    svg{
      fill:#333;
    }
    &.ant-radio-button-wrapper-checked{
      svg{
        fill:#1677ff;
      }
    }
  }
  .rounded_group{
    // border-radius: 2px;
    overflow: hidden;
    .panel_input_number{
      border-right: 1px solid #dee0e2;
      box-sizing: border-box;
      &:last-child{
        border-right: 0px solid #dee0e2;
      }
    }
   
  }
}
