.ant-tooltip-content{
  margin-top: 4px !important;
}

.ant-tabs{
  height: 100%;
  .ant-tabs-nav{
    margin-bottom: 0px;
  }
  .ant-tabs-content,.ant-tabs-tabpane{
    height: 100%;
  }
}
.ant-input-number-input{
  height: 26px !important;
}
