@font-face {
  font-family: 'AlimamaShuHeiTi';
  src: url('/fonts/数黑体/AlimamaShuHeiTi-Bold.woff2');
}

@font-face {
  font-family: 'AlimamaDaoLiTi';
  src: url('/fonts/刀隶体/AlimamaDaoLiTi.woff2');
}

@font-face {
  font-family: 'AlimamaFangYuanTiVF';
  src: url('/fonts/方圆体/AlimamaFangYuanTiVF-Thin.woff2');
}


@font-face {
  font-family: 'bailufeiyunshouxieti';
  src: url('/fonts/白路飞云手写体/bailufeiyunshouxieti.woff');
}
