.custom_color_picker{
  .colors_grid{
    display: grid;
    gap: 7px;
    max-width: 100%;
    /* 设置默认列数 */
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    grid-auto-rows: 1fr;
  }
  .ant-radio-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgBg{
    background-image: url('./images/bg1.png');
    background-size: 16px 16px;
    box-shadow: 0 -1px 0 #00000014, 0 1px 0 #00000014;
  }
}
