.ant-collapse-header {
  padding: 5px 10px !important;

  .ant-collapse-header-text {
    font-weight: 600;
    font-size: 12px;
    color: #00000099;
  }
}

.ant-collapse-content-box {
  padding: 0px 10px 6px 10px !important;
  background: #fff;
}

.ant-input-number-group-addon {
  padding: 0px 4px !important;
}

.rounded_group{
  overflow: hidden;
  // border-radius: 2px;
  .ant-input-number-outlined{
    // border-right: 0px solid #dee0e2;
    // box-sizing: border-box;
    // &:last-child{
      // border-right: 1px solid #dee0e2;
    // }
  }
 
}
